// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --color-main: #04395E;
  --color-main-reverse: #fff;
  --color-main-darker: #031D44;
  --color-main-lighter: #095b94;

  --color-bg-layer1: #ffffff;
  --color-bg-layer2: #f3f3f3;
  --color-bg-really-lighter: #e8e8e8;
  --color-bg-white: #ffffff;

  --color-soft-danger: #875053;

  --color-danger-light: #faa7a7;
  --color-danger: red;
  --color-primary: #2222fc;
  --color-success-light: #BFFFCA;
  --color-success: #038904;
  --color-warning-light: #fddca0;
  --color-warning: orange;
  --color-warning-dark: #c78001;
}
