<div class="home clickable" routerLink="/home">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 30 33">
    <g id="Icon_feather-home" data-name="Icon feather-home" transform="translate(-3 -1.5)">
      <path id="Path_8" data-name="Path 8" d="M4.5,13.5,18,3,31.5,13.5V30a3,3,0,0,1-3,3H7.5a3,3,0,0,1-3-3Z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
      <path id="Path_9" data-name="Path 9" d="M13.5,33V18h9V33" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
    </g>
  </svg>

</div>
<div class="page-full-content">
  <div class="box">
    <div>
      <div class="product-image" style="background-image: url('{{token.uri}}')"></div>
      <div class="infos">
        <h2>{{brandName}} - {{token.name}}</h2>
        <p>
          Ref: <b>{{tokenId}}-{{unitId}}</b><br>
          Owner: <b style="font-size: 0.7em" *ngIf="unit.owner != contractAddress">{{unit.owner}}</b><b *ngIf="unit.owner == contractAddress">Not Owned</b><br>
          Status: <b>{{unit.status}}</b>
        </p>
      </div>
    </div>
    <div class="btn-box">
      <button class="btn btn-action" (click)="claimOwnership()" *ngIf="unit.status == 'sold'">Claim Ownership</button>
      <button class="btn btn-action" (click)="connectWallet()" *ngIf="unit.status != 'sold' && !account">Connect Wallet</button>
      <button class="btn btn-action" (click)="openTransferModal()" *ngIf="unit.owner.toUpperCase() == account.toUpperCase()">Transfer token</button>
      <button class="btn btn-action" (click)="itemStolen()" *ngIf="account.toUpperCase() == unit.owner.toUpperCase()">Item stolen</button>
    </div>
  </div>
</div>
